.ingredients-color {
    background-color:  #3282f7;
}
.appliance-color {
    background-color: #68d9a4;
}
.ustensils-color {
    background-color: #ed6454;
}

.recipe {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.truncate {
    width: 70%;
}

.fa-clock {
    margin-right: 0.5rem;
}

.recipe__description__bottom {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    height: 195px;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}

.recipe,.recipe__description__bottom {
    padding: 1rem 1rem 0 1rem;
    background-color: rgb(239, 237, 237);
}

.recipe__description {
    width: 43%;  
}

li,.process {
    font-size: 0.8rem;
}

.process {
    width: 50%;
}

@media screen and (max-width: 600px) {
    div > menu {
        flex-direction: column;
    }

    button {
        width: 100%;
    }
    #span-ingredients,#span-appliance,#span-ustensils {
        display: flex;
        justify-content: space-between;
        font-size: 1rem;
        line-height: 1;
    }

    button[type=submit] {
       left: 43%; 
     }

}